.image-scroll-container {
  overflow: hidden;
  width: 100%;
  background-color: #000000; // Cor de fundo desejada
  padding: 50px 0 0;

  .image-scroll-track {
    display: flex;
    width: 200%; // Duplica a largura para o efeito contínuo
    animation: scroll 70s linear infinite; // Ajusta a duração conforme necessário
    @media (max-width: 768px) {
      .image-scroll-item { 
        width: calc(100% / 4) !important;
      }
    }
    .image-scroll-item {
      flex: 0 0 auto;
      width: calc(100% / 7); // Ajusta baseado no número de imagens
      padding: 0 10px; // Espaçamento entre itens

      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px; // Ajusta conforme necessário
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra leve para profundidade
      }
    }
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-700%);
    }
  }
}