<footer class="footer text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="mb-4">Espaço de Atendimento</h5>
                <p>Indaiatuba - sp<br>
                    Jundiaí - sp</p>
            </div>
            <div class="col-md-6">
                <h5 class="mb-4">Atendimento no WhatsApp</h5>
                <p>Para horários de consulta, presencial ou online, <br>
                    favor verificar via Whatsapp, a disponibilidade na agenda da Dra. Mariana.</p>

            </div>

        </div>
        <hr>
        <div class="text-center">
            <p>&copy; Dra. Mariana Bianchi {{date}} - Todos os direitos reservados - Desenvolvido por
                <a class="copyright" href="https://www.linkedin.com/in/bruno-bianchi-65a442268/">Bruno
                    Bianchi</a>.
            </p>
        </div>
    </div>
</footer>