:host {
    .image-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
    }
    
    .image-item {
        &:hover {
            cursor: pointer;
        }
        flex: 1 0 21%; /* Ajusta para 21% para garantir margens */
        margin: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
    
    .image-item img {
        width: 100%;
        height: auto;
        display: block; /* Remove espaço extra abaixo da imagem */
    }
    
    .container {
        width: 100%;

        .title {
            width:100%;
            img {
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top:10px;
                text-align: center;
                z-index: -9999;
                width:30rem;
                transition: opacity 0.5s ease; // Transição suave de opacidade

            }
            margin-top:100px;
            width:100%;
            h1 {
                position:absolute;
                top:330px;
                left: 0;
                right: 0;
                font-size:7rem;
                text-align: center;
                font-weight: 600;
                p {
                    font-size:2rem;
                    font-weight: bold;
                    color:rgb(27, 27, 27);
                }
            }
           
        }
    }

    @media (max-width: 768px) {
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            height:50% !important;
            max-width: 700px;
          }
        .mariana {
            margin: 0 auto;
            left: 0;
            right: 0;
            top:100px !important;
            width:100% !important;
            height: 80%;
        }
        h1 {
            position: inherit;

            width:100%;
            font-size:2.5rem !important;
            p {
                margin-top:10px;
                font-size:.85rem !important;

            }
        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 60px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
      }
      
      .modal.show {
        display: block;
      }
      
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        height:90%;
        max-width: 700px;
      }
      
      .modal-content, #caption {  
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @keyframes zoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
      }
      
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
    
}