<ul class="marquee-wrap" style="background: rgb(252,253,255);
background: radial-gradient(circle, rgba(252,253,255,1) 0%, rgba(227,227,227,1) 100%);">
    <li>
        <ul>
            <li>Lentes em resina </li>
            <li>Rinomodelação</li>
            <li>Botox</li>
            <li>Lentes em resina </li>
            <li>Preenchimento Labial</li>
            <li>Lavieen</li>
            <li>Clareamento</li>
            <li>Ultraformer</li>
        </ul>
    </li>
    <li>
        <!-- reverse line -->
        <ul>
            <li>Preenchimento Labial</li>
            <li>Botox</li>
            <li>Lentes em resina </li>
            <li>Lavieen</li>
            <li>Ultraformer</li>
            <li>Clareamento</li>
            <li>Rinomodelação</li>
        </ul>
    </li>
    <li>
        <!-- reverse line -->
        <ul>
            <li>Botox</li>
            <li>Lentes em resina </li>
            <li>Clareamento</li>


            <li>Ultraformer</li>
            <li>Lavieen</li>
            <li>Lentes em resina </li>
            <li>Rinomodelação</li>
            <li>Preenchimento Labial</li>
        </ul>
    </li>
    <li>
        <!-- reverse line -->
        <ul>
            <li>Botox</li>
            <li>Lavieen</li>
            <li>Lentes em resina </li>
            <li>Clareamento</li>
            <li>Preenchimento Labial</li>
            <li>Ultraformer</li>
            <li>Rinomodelação</li>
            <li>Lentes em resina </li>
        </ul>
    </li>
</ul>