<div class="container">
    <div class="social-midia">
        <i (click)="openURL('https://www.instagram.com/dra.marianabianchi/')" class="fa-brands fa-instagram"></i>
        <i (click)="openURL('https://api.whatsapp.com/send?l=pt-BR&phone=5511940239043&text=Ol%C3%A1+Dra.+Mariane!+Gostaria+de+fazer+um+agendamento.')"
            class="fa-brands fa-whatsapp"></i>
        <i (click)="openURL('https://www.tiktok.com/@dra.marianabianchi?_t=8nwChGiXbKY&_r=1')"
            class="fa-brands fa-tiktok"></i>
    </div>
</div>