:host {
    .social-midia {
        display: inline-block;
        position: fixed;
        width:3%;
        z-index: 9999999999999;
        i {
            color:rgb(0, 0, 0);
            font-size:30px;
            margin-top:10px;
            text-shadow: 1px 1px 0px #ffffff28;
            &:hover {
                cursor: pointer;
                transform: translateY(-3px);
                transition: .3s;
                color:rgb(92, 92, 92);
            }
        }
    }
}